<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>	
	<div class="container">
		<h1 th:text="${titulo}"></h1>
		<form th:action="@{/form}" th:object="${usuario}" method="POST">	
			<div class="form-group row">
				<div class="col-sm-1">
					<label class="col-form-label" for="pais">Pais:</label>
				</div>
				<div class="col-sm-6">
					<select id="pais" th:field="*{pais}"
						class="form-control form-control-sm">
						<option value="">--SELECCIONAR--</option>
						<option th:each="pais: ${listaPaises}" th:text="${pais.nombre}"
							th:value="${pais.id}"></option>
					</select>
				</div>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('pais')}"
					th:errors="*{pais}"></div>
			</div>
			
			<div class="form-check">
				<input type="checkbox" id="activo" th:field="*{activo}"
					class="form-check-input" /> <label class="col-check-label"
					for="activo">Activo</label>
			</div>


			<div class="form-check">
				<label class="form-check-label">Genero:</label>
				<div th:each="gen: ${lstGeneros}">
					<input type="radio" th:field="*{genero}" th:value="${gen}"
						class="form-check-input"> <label
						th:for="${#ids.prev('genero')}" th:text="${gen}"
						class="form-check-label"></label>
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
			</div>

			<div class="form-group row">
				<div class="col-sm-1">
					<label class="col-form-label">Roles:</label>
				</div>
				<div th:each="rol: ${rolesObjetos}">
					<input type="checkbox" th:field="*{roles}" th:value="${rol.id}"
						class="form-check-input"> <label class="form-check-label"
						th:for="${#ids.prev('roles')}" th:text="${rol.nombre}"></label>
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
			</div>

			<div class="form-group row">
				<div class="col-sm-3">
					<label class="col-form-label" for="nombre">Identificador:</label>
				</div>
				<div class="col-sm-9">
					<input type="text" id="identificador" th:field="*{identificador}"
						class="form-control mb-2" />
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('identificador')}"
					th:errors="*{identificador}"></div>
			</div>
			<div class="form-group row">
				<div class="col-sm-3">
					<label class="col-form-label" for="nombre">Nombre:</label>
				</div>
				<div class="col-sm-9">
					<input type="text" id="nombre" th:field="*{nombre}"
						class="form-control mb-2" />
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			</div>
			<div class="form-group row">
				<div class="col-sm-3">
					<label class="col-form-label" for="apellido">Apellido:</label>
				</div>
				<div class="col-sm-9">
					<input type="text" id="apellido" th:field="*{apellido}"
						class="form-control mb-2" />
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
			</div>
			<div class="form-group row">
				<div class="col-sm-3">
					<label class="col-form-label" for="username">Usuario:</label>
				</div>
				<div class="col-sm-9">
					<input type="text" id="username" th:field="*{username}"
						class="form-control mb-2" />
				</div>
				<!-- 
			forma1 para validar errores:
			<div class="alert alert-danger" th:if="${error != null && error.containsKey('username')}" th:text="${error.username}"></div>
			 -->
				<!-- 
			forma2 para validar errores con thymeleaf y mensajes propios de spring:
			 -->
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
			</div>

			<div class="form-group row">
				<div class="col-sm-3">
					<label class="col-form-label" for="password">Contraseña:</label>
				</div>
				<div class="col-sm-9">
					<input type="password" id="password" th:field="*{password}"
						class="form-control mb-2" />
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			</div>

			<div class="form-group row">
				<div class="col-sm-3">
					<label class="col-form-label" for="email">Email:</label>
				</div>
				<div class="col-sm-9">
					<input type="text" id="email" th:field="*{email}"
						class="form-control mb-2" />
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>


			<div class="form-group row">
				<div class="col-sm-3">
					<label class="col-form-label" for="cuenta">Cuenta:</label>
				</div>
				<div class="col-sm-9">
					<input type="text" id="cuenta" th:field="*{cuenta}"
						class="form-control mb-2" />
				</div>
				<div class="alert alert-danger"
					th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
			</div>

			<div class="form-group row">
				<div class="col-sm-3">
					<label class="col-form-label" for="fechaNacimiento">Fecha
						de nacimiento:</label>
				</div>
				<div class="col-sm-9">
					<input type="date" id="fechaNacimiento"
						th:field="*{fechaNacimiento}" class="form-control mb-2" />
				</div>
				<div class="alert alert-danger" role="alert"
					th:if="${#fields.hasErrors('fechaNacimiento')}"
					th:errors="*{fechaNacimiento}"></div>
			</div>

			<div class="form-group row">
				<div>
					<input type="submit" value="Enviar" class="btn btn-success" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>