<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
	<div class="container">		
		<a th:href="@{/form}" class="btn btn-primary btn-lg m-3">Regresar</a>
		<ul class="list-group mb-3">
			<li class="list-group-item active" th:text="${titulo}"></li>
			<li class="list-group-item" th:text="${usuario.identificador}"></li>
			<li class="list-group-item" th:text="${usuario.nombre}"></li>
			<li class="list-group-item" th:text="${usuario.apellido}"></li>
			<li class="list-group-item" th:text="${usuario.username}"></li>
			<li class="list-group-item" th:text="${usuario.password}"></li>
			<li class="list-group-item" th:text="${usuario.email}"></li>
			<li class="list-group-item" th:text="${usuario.cuenta}"></li>
			<li class="list-group-item" th:text="${usuario.pais.id}"></li>
			<li class="list-group-item" th:text="${usuario.pais.codigo}"></li>
			<li class="list-group-item" th:text="${usuario.pais.nombre}"></li>
			<li class="list-group-item"
				th:text="${#dates.format(usuario.fechaNacimiento, 'dd/MM/yyyy')}"></li>
			<li class="list-group-item" th:text="'Activo: ' + ${usuario.activo}"></li>
			<li class="list-group-item" th:text="'Genero: ' + ${usuario.genero}"></li>
		</ul>


		
		<ul class="list-group">
			<li class="list-group-item active">Roles</li>
			<li class="list-group-item" th:each="rol: ${usuario.roles}"
				th:text="${rol.id} + ' ' + ${rol.nombre} + ' ' + ${rol.rol}">
		</ul>
	</div>
</body>
</html>